{"encryptionKey":"bcc3ce34b308aa16b8c78fa2edf279e04e5049bbe3f257fe81ad16767c2686f7","publicKey":"-----BEGIN PUBLIC KEY-----\nMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAwESHF2/7cd0Ch3mv3lNX\nElNqwyWttWya+rocUUvmQDZKgXgz1jmiX9XFg/rG+WwGcMhxZzzGxv6boDgSIEjf\nLJ/HYwKpGumiqD6b7wJ+CEYo66ufcaHGDUfm63emeQaj5jYjPPBoLqphDlFSXUA4\n1hYWvNhEPb4yVLI0dknOILGlVr/GDpTPt02jrKrsbhzwgDsswPChUgwZ27pqvX0Y\nypbviw8A5sNfDRDNiRw0vZUEbw1kyZNTLHL92BXC5+s4RrX4+VajIlrVR7SpuUbw\n0W0Jzi9BVV3AUJvQxv+RArqkAT547j1AxajKtOQ4ESkC/aoW1MDikyEKAbbD+HP/\nfQIDAQAB\n-----END PUBLIC KEY-----\n","enablementKeyId":"ed5d6240-c699-477d-8d10-4a4b7ce8bb84","organizationId":"d11f61b4-ecd0-4867-b3ed-378ac374d181","networkId":"19597347-d4d4-4e1e-bf89-b0309856f269"}